name: Build and deploy Node.js app to Azure Web App - plastiapp-front

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Update standalone package.json start script
        run: |
          node -e "const fs = require('fs'); const pkg = require('./.next/standalone/package.json'); pkg.scripts.start = 'node server.js'; fs.writeFileSync('./.next/standalone/package.json', JSON.stringify(pkg, null, 2));"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .next/standalone

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6752BF71FF9E4FE9B13F7C882540361E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7AAD00D505FA407197D97030864439FA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_94F3E8D2F35E46B7A757AA939609D1D3 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'plastiapp-front'
          slot-name: 'Production'
          package: .