name: App Service Code - front-plastiapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: front-plastiapp

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      # ⬇️ ESTO ES CLAVE PARA STANDALONE EN AZURE
      - name: Copy static files into standalone
        run: |
          cp -R ./public ./.next/standalone/public
          mkdir -p ./.next/standalone/.next
          cp -R ./.next/static ./.next/standalone/.next/static

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: ./.next/standalone

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions: 
      id-token: write #This is required for requesting the JWT 
      contents: read #This is required for actions/checkout

    environment:
      name: production

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Login to Azure 
        uses: azure/login@v2 
        with: 
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_957BBFECBD0A4CF39CEBE2DF0FCC646D }} 
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C0DFA3C600484CD997EE413AA5CB2EFE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A32779BFF00C4305918DC6263316D258 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'front-plastiapp' 
          slot-name: 'Production' 
          package: .
