name: Build and deploy Next.js standalone app to Azure Web App - plastiapp-front

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Build Next.js
        run: npm run build

      - name: Prepare standalone package
        run: |
          rm -rf deploy || true
          mkdir -p deploy
          mkdir -p deploy/.next

          # Copiar archivos base
          cp .next/standalone/server.js deploy/
          cp .next/standalone/package.json deploy/

          # Copiar contenido de .next (standalone)
          cp -r .next/standalone/.next/. deploy/.next/

          # Copiar node_modules
          cp -r .next/standalone/node_modules deploy/

          # Copiar carpeta static
          mkdir -p deploy/.next/static
          cp -r .next/static/. deploy/.next/static/

          # Copiar public
          cp -r public deploy/ || true

      - name: Debug - List deploy directory
        run: ls -R deploy

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: deploy

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6752BF71FF9E4FE9B13F7C882540361E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7AAD00D505FA407197D97030864439FA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_94F3E8D2F35E46B7A757AA939609D1D3 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'plastiapp-front'
          slot-name: 'Production'
          package: .